version: '3.8'

volumes:
  static_volume:
  media_volume:
  pg_data:

services:
  postgres:
    image: postgres:13
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U django"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: ${DOCKER_USERNAME}/kittygram_backend:latest
    volumes:
      - static_volume:/app/collected_static  # Исправлено: для статики Django
      - media_volume:/app/media
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    restart: always
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn --bind 0.0.0.0:8000 kittygram_backend.wsgi"

  frontend:
    image: ${DOCKER_USERNAME}/kittygram_frontend:latest
    volumes:
      - static_volume:/app/static
    depends_on:
      - backend
    restart: always

  gateway:
    image: ${DOCKER_USERNAME}/kittygram_gateway:latest
    volumes:
      - static_volume:/static
      - media_volume:/media
    ports:
      - "9000:80"
    depends_on:
      - frontend
      - backend
    restart: always